/* ####################################################
B A S E  S T Y L E S
#################################################### */
* {
  box-sizing: border-box;
}
*, :after, :before {
    border: 0 solid #ebebeb;
}
h1 {font-size:5rem;} /*1rem = 16px*/

nav {
    display: block;
}
a {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}


/* ####################################################
L A Y O U T  S T Y L E S
#################################################### */

.bg-overlay {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffa949;
  height: 850px;
  padding-top: 120px;
}
.header-container {
  padding-top: 50px;
}
.text-primary {
  color: #DC8262;
}
.available {
  color: green;
}
.skill {
  overflow: hidden;
}
.background {
  color: white;
  background-color: #6BDCB7;
  border-top: 10px solid #8A378D;
  min-height: 300px;
  max-height: 750px;
  overflow: auto;
}
.name {
  letter-spacing: 1.1;
  line-height: 1.4;
}
.navbar-nav a {
  margin-left: 20px;
}
.lead {
  margin-top: 30px;
  line-height: 2.0;
}
.main-header {
  background-color: #ffa949;
  padding-top: 170px;
  height: 850px;
}
.flex {
    display: flex;
}
.container {
    width: 100%;
}
.relative {
    position: relative;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.absolute {
  position: absolute;
}

/* ####################################################
H E A D E R   S T Y L E S
#################################################### */

.text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255,255,255,var(--text-opacity));
}
.text-purple {
  color: #8A378D;
}
.font-display {
    font-family: Neuzeit S LT Std, sans-serif;
}
.bg-green {
    --bg-opacity: 1;
    background-color: #4ee1b5;
    background-color: rgba(78,225,181,var(--bg-opacity));
}
.text-base {
    font-size: 1rem;
}
.h-screen {
    height: 100vh;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mt-10 {
    margin-top: 2.5rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.items-center {
    align-items: center;
}
.opacity-75 {
    opacity: .75;
}
.text-lg {
    font-size: 1.125rem;
}
.font-black {
    font-weight: 900;
}
.font-body {
    font-family: NeuzeitGro,sans-serif;
}
.r-logo {
  border-radius: 50%;
  height: 100px;
  width: auto;
  opacity: 1;
}

/* ####################################################
M E D I A  Q U E R I E S
#################################################### */

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  h1 {font-size:6rem;} /*1rem = 16px*/
}
@media (min-width: 640px) {
.container { max-width: 640px;}
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1 {font-size:6.7rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {font-size:7.2rem;} /*1rem = 16px*/
}
@media (min-width: 1024px) {
  .container { max-width: 1024px;}
}
@media (min-width: 1280px) {
  .container { max-width: 1550px;}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  h1 {font-size:8.5rem;} /*1rem = 16px*/
}
